<script>
	document.getElementById("mbl-nav").addEventListener("click", myFunction);
	
	function myFunction() {
	  document.getElementById("burger-check").checked = false;
	}
	</script>

<!-- <div id="alert-banner">This site is under construction! (Send us an <a href="mailto:organizers@astoriarunners.com">email</a> if you want to get involved)</div>	 -->

<header>
	<div id="header-container">

		<nav class="desktop">
			<a class="logo" href="/">
				<img src="/images/ar-logo.svg" alt="">
			</a>
			<a href="/#schedule" class="schedule text">Schedule</a>
			<a href="/#about-us" class="about-us text">About Us</a>
			<a href="/#faqs" class="faqs text">FAQs</a>
		</nav>

		<input class="burger-check" id="burger-check" type="checkbox">
		<label for="burger-check" class="burger"><span></span></label>
		<nav id="mobile-menu" class="mobile">
		<a id="mbl-nav" href="/#schedule" onclick="myFunction()">Schedule</a>
		<a id="mbl-nav" href="/#about-us" onclick="myFunction()">About Us</a>
		<a id="mbl-nav" href="/#faqs" onclick="myFunction()">FAQs</a>
		</nav>

		<a class="logo mobile" href="/">
			<img src="/images/ar-logo.svg" alt="">
		</a>

		<span id="rsvp">
			<span class="desktop"><b>Join our next run</b></span>
			<a class="header-button" href="https://www.meetup.com/astoriarunners/" target="_blank">RSVP Now</a>
		</span>
	</div><!-- End Header Container -->	
</header>
