---
layout: base
---

<div class="hero" style="background-image: url(/images/homepage-hero.jpg); background-position: middle;">
    <img src="/images/ar-logo-white.svg" alt="">
    <span><b>Come run and hang with the happiest group in NYC.</b></span>
    <span>We run, ride bikes, read books, and generally have a good time.</span>
</div><!-- End hero -->

<div class="article">
    <h1>Run with us this June</h1>
    <p>🌈🏃‍♂️ June is packed with excitement for Astoria Runners!<br>
        Celebrate Pride Month with us on our 13.1-mile Pride Run. Don’t miss our special Wednesday & Thursday runs followed by a beer social. Let’s make our summer hotter together! ☀️🍻<br>
        <img src="/schedules/june-24.png" alt="June Schedule">
    </p>
  </div><!-- End article -->

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>