---
layout: base
---

<div class="hero" style="background-image: url(/images/homepage-hero.jpg); background-position: middle;">
    <img src="/images/ar-logo-white.svg" alt="">
    <span><b>Come run and hang with the happiest group in NYC.</b></span>
    <span>We run, ride bikes, read books, and generally have a good time.</span>
</div><!-- End hero -->

<div class="article">
    <h1 id="schedule" >Run with us this July</h1>
    <p>July ‘24 schedule is here! We’re embracing summer with a beach trip 🏖️ 😎 See you there! Note the change in days for intervals and long runs.
      #astoriarunners<br>
        <img src="/schedules/july-24.png" alt="July Schedule">
    </p>
  </div><!-- End article -->

  <div class=" container article">

    <div class="half">
      <h2>Weekly Evening Run</h2>
      <p>Join us for a 5k run that starts and finishes at Astoria Park track. We have 3 pace groups and stop halfway to rest and socialize before heading back to the park.</p>
      <a class="img-modal" rel="tm" href="images/weekly.png" title="">
        <img src="images/weekly-thumb.png" alt="">
      </a>
    </div>

    <div class="half">
      <h2>Weekly Track Run</h2>
      <p>Join us for a 45-minute interval run at the Astoria Park track. After the run, we meet at the corner of the inner field to socialize.
        (Feel free to join us and run however you want)</p>
      <a class="img-modal" rel="tm" href="images/interval.png" title="">
        <img src="images/interval-thumb.png" alt="">
      </a>
    </div>

  </div><!-- end fourteenforty container-->

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>